<div id="info-header">
  <a href="/">
    <img src="/public/img/literasee-logo.svg" height="38" />
  </a>
  <div class="header-links">
    <a
      class="info-link"
      rel="noopener"
      target="_blank"
      href="http://twitter.com?status=Check out what I saw on Literasee! {{short_url}}">
      <img src="/public/img/TwitterLogo.png" width="36" height="36" alt="Twitter Logo"/>
    </a>
    <a
      class="info-link"
      rel="noopener"
      target="_blank"
      href="http://{{gist_subdomain}}github.com/{{project.owner}}/{{project.project}}">
      <img src="/public/img/GitHubLogo.png" width="36" height="36" alt="GitHub Logo"/>
    </a>
    {{#if show_button}}
    <a class="info-link btn btn-primary" href="{{button_url}}">
      {{button_label}}
    </a>
    {{/if}}
    <a
      class="info-link"
      rel="noopener"
      target="_blank"
      href="http://github.com/{{project.owner}}">
      <img src="{{project.avatar_url}}" width="36" height="36" />
    </a>
  </div>
</div>
