<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>{{owner}}'s Gists</title>
  <style>
    body {
      font-family: "Helvetica Neue", Helvetica, sans-serif;
      margin: 1em auto 4em auto;
      position: relative;
      tab-size: 2;
      width: 960px;
    }

    a.gist {
      background-position: 50% 0%;
      border: solid 1px #eee;
      border-bottom: solid 1px #ccc;
      box-sizing: border-box;
      -o-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      display: inline-block;
      float: left;
      height: 80px;
      line-height: normal;
      margin: 0 10px 10px 0;
      position: relative;
      text-shadow: 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff;
      transition: ease 350ms background-position;
      -webkit-transition: ease 350ms background-position;
      -moz-transition: ease 350ms background-position;
      -ms-transition: ease 350ms background-position;
      -o-transition: ease 350ms background-position;
      width: 230px;
    }

    a.gist:hover,
    a.gist:focus {
      background-color: #eee;
      background-position: 50% 100%;
      text-decoration: none;
    }

    a.gist .description,
    a.gist .date {
      position: absolute;
      padding: 10px;
      z-index: 2;
    }

    a.gist .description {
      top: 0;
      color: #000;
    }

    a.gist .date {
      display: none;
    }

    a.gist:hover .description {
      text-decoration: underline;
    }

    .date {
      color: #636363;
      display: block;
      font-size: smaller;
    }
  </style>
</head>
<body>

  <h1>{{owner}}'s Gists</h1>

  <div class="gists">
    {{#each gists}}
      {{#if bgImage}}
        <a class="gist" style="background-image: url({{bgImage}})" href="{{url}}">{{label}}</a>
      {{else}}
        <a class="gist" href="{{url}}">{{label}}</a>
      {{/if}}
    {{/each}}
  </div>

</body>
</html>
